nav {
  background: var(--color-primary);
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

nav button {
  display: none;
}

.nav_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3rem solid var(--color-bg);
}

.nav_logo {
  font-weight: 600;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav_profile {
  position: relative;
  cursor: pointer;
}

.nav_profile ul {
  position: absolute;
  top: 125%;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

/* Nav ul when nav profile is hovered*/
.nav_profile:hover > ul {
  visibility: visible;
  opacity: 1;
}

.nav_profile ul li a {
  background: var(--color-gray-900);
  padding: 1rem;
  display: block;
  width: 100%;
}

.nav_profile ul li:last-child a {
  background: var(--color-red);
  color: var(--color-bg);
}

/* Medium Devices */
@media screen and (max-width: 1024px) {
  /* Navbar */
  nav button {
    display: inline-block;
    font-size: 1.5rem;
    background: transparent;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close_nav_btn {
    display: none;
  }

  .nav_container {
    position: relative;
  }

  .nav_menu {
    position: absolute;
    flex-direction: column;
    perspective: 400px;
    gap: 0;
    top: 100%;
    right: 0;
    width: 12rem;
    align-items: flex-start;
    justify-content: center;
    display: none;
  }

  .nav_menu li {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
    border-top: 1px solid var(--color-bg);
    animation: animateDropdown 400ms 0s ease forwards;
    opacity: 0;
    transform-origin: top;
  }

  .nav_menu li:nth-child(2) {
    animation-delay: 200ms;
  }
  .nav_menu li:nth-child(3) {
    animation-delay: 400ms;
  }
  .nav_menu li:nth-child(4) {
    animation-delay: 600ms;
  }
  .nav_menu li:nth-child(5) {
    animation-delay: 800ms;
  }

  /* nav dropdown animations*/
  @keyframes animateDropdown {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }

  .nav_menu li a {
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: var(--color-gray-900);
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }

  .nav_profile {
    background: var(--color-gray-900);
  }
  .nav_profile ul {
    top: 100%;
    width: 100%;
  }

  .nav_profile .profile {
    margin-left: 2rem;
    border: 0;
  }
}
