.category_btn {
  background: var(--color-primary-light);
  color: var(--color-primary);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: var(--card-border-radius-2);
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}

.category_btn:hover {
  color: var(--color-white);
}

/* Featured Section */
.featured {
  margin-top: 8rem;
}

.featured_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.featured .post_thumbnail {
  height: fit-content;
}

/* POSTS */
.post_thumbnail {
  border-radius: 0 var(--card-border-radius-5);
  border: 1rem solid var(--color-gray-900);
  overflow: hidden;
  margin-bottom: 1.6rem;
}

.post:hover .post_thumbnail img {
  filter: saturate(0);
  transition: filter 500ms ease;
}

.post_author {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
}

.post_author_profile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: var(--card-border-radius-3);
  overflow: hidden;
}

.posts_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-bottom: 4rem;
}

/* Search Bar in Blog*/
.search_bar {
  margin-top: 7rem;
}

.search_bar_container {
  position: relative;
  width: 30rem;
  background: var(--color-gray-900);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.6rem 1rem;
  border-radius: var(--card-border-radius-2);
  color: var(--color-gray-300);
}

.search_bar_container > div {
  width: 100%;
  display: flex;
  align-items: center;
}

.search_bar input {
  background: transparent;
  margin: 0 1rem;
  padding: 0.6rem 0;
  color: var(--color-white);
  width: 100%;
}

.search_bar input::placeholder {
  color: var(--color-gray-300);
}

/*Single Post*/

.singlepost {
  margin: 6rem 0 3rem;
}

.singlepost_container {
  width: var(--form-width);
  background: var(--color-gray-900);
  padding: 1rem 2rem 2rem;
  border-radius: var(--card-border-radius-2);
}

.singlepost_thumbnail {
  margin: 1.5rem 0 1rem;
}

.singlecategory_btn {
  background: var(--color-primary);
  color: var(--color-gray-900);
}

.singlepost_container p {
  margin-top: 1rem;
  line-height: 1.7;
}

/* Category Posts */

.category_title {
  height: 10rem;
  margin-top: 4rem;
  background: var(--color-gray-900);
  display: grid;
  place-items: center;
}

/* Category Buttons */
.category_btns {
  padding: 4rem 0;
  border-top: 2px solid var(--color-gray-900);
  border-bottom: 2px solid var(--color-gray-900);
}

.category_btns_container {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Medium Devices */
@media screen and (max-width: 1024px) {
  .featured_container {
    gap: 3rem;
  }

  .posts_container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  /*Blog*/
  .search_bar_container {
    width: 60%;
  }

  /*Single Post*/
  .singlepost_container {
    width: var(--container-width-lg);
  }
}

/* Small Devices */
@media screen and (max-width: 600px) {
  .featured {
    margin-top: 6rem;
  }
  .featured_container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .posts_container {
    grid-template-columns: 1fr;
  }

  .category_btns_container {
    grid-template-columns: 1fr 1fr;
  }

  /*Blog*/
  .search_bar_container {
    width: var(--container-width-md);
  }

  /*Single Post*/
  .singlepost_container {
    background-color: transparent;
    padding: 0;
  }
}
