*{
    margin: 0;
    padding: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    line-height: 1.6;
    color: var(--color-gray-900);
    overflow-x: hidden;
    background:var(--color-bg) ;
    font-size: 1rem;
}
.container{
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
}

section{
    margin-top: 2rem;
    width: 100vw;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-white);
    line-height: 1.2;
}

h1{
    font-size: 3rem;
    margin: 1rem 0;
}

h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3{
    font-size: 1.2rem;
    margin: 0.8rem 0 0.5rem;
}

h4{
    font-size: 1rem;  
}

a{
    color: var(--color-white);
    transition: var(--transition);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}