* {
  margin: 0;
  padding: 0;
  border: 0;
  appearance: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  line-height: 1.6;
  color: var(--color-gray-200);
  overflow-x: hidden;
  background: var(--color-bg);
  font-size: 1rem;
}
.container {
  width: var(--container-width-lg);
  max-width: 1800px;
  margin-inline: auto;
}

section {
  margin-top: 2rem;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-white);
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.2rem;
  margin: 0.8rem 0 0.5rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: var(--color-white);
  transition: var(--transition);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  background-color: var(--color-primary);
  border-radius: var(--card-border-radius-2);
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-white);
}

.btn.sm {
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
}
.btn.danger {
  background: var(--color-red);
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
}

/*Home Page*/

/* Medium Devices */
@media screen and (max-width: 1024px) {
  /*  General  */
  .container {
    width: var(--container-width-md);
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.8rem;
  }
}
/* Small Devices */
@media screen and (max-width: 600px) {
  /*  General  */
  section {
    margin-top: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
}
